:root{
    --main-color: rgba(126, 214, 223,1.0);
    --main-color-light: rgba(126, 214, 223, 0.2);
    --accent-color:rgba(19, 15, 64,1.0);
    --accent-color-light: rgba(19, 15, 64,0.3)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom right, var(--main-color), var(--main-color-light));
    background-repeat:no-repeat;
    min-height: 100vh;
}

.main-title{
    font-size: 2.5rem;
    color: white;
    border: 2px solid white;
    padding: .4rem;
    border-bottom-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

.header, .gorev-form{
    min-height: 20vh;
    margin: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-item{
    padding: .5rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background-color: white;

}
.input-gorev{
    min-width: 45%;
    border-bottom-left-radius: .8rem;
    border-top-left-radius: .8rem;
}

.input-gorev:focus{
    box-shadow: rgba(255, 255, 255, 0.3) 0px 8px 8px, rgba(255, 255, 255, 0.22) 0px 4px 4px;

}
.btn-gorev-ekle{
    color: var(--accent-color);
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
    cursor: pointer;
}

.btn-gorev-ekle:hover{
    background-color: var(--accent-color);
    color: white;
}
.gorev-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.gorev-listesi{
    list-style: none;
    min-width: 51%;
}
.gorev-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: 1.3rem;
    transition: .5s ease-in-out;
}
.gorev-tanim{
    /* flexi 1 yapmamızın sebebi mümkün olduğunca yayıl diğerleri içerikleri kadar yer tutması için */
    flex: 1;
    border: 2px solid var(--accent-color);
    border-top-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
    padding: .5rem;
}
.gorev-btn{
    outline: none;
    border: none;
    font-size: 1.8rem;
    padding: .5rem;
    color: var(--accent-color);
    cursor: pointer;
    margin: .1rem;
    margin-left: .2rem;
}

.gorev-btn-sil:hover{
    background-color: red;
    color: white;

}

.gorev-btn-tamamlandi:hover{
    background-color: green;
    color: white;
}

.gorev-tamamlandi{
    text-decoration: line-through;
    opacity: 0.5;
}

.far{
    pointer-events: none;
}
.kaybol{
    transform: scale(0);
}